.content{
    display: flex;
    justify-content: space-between;
}

.list{
    margin-right:2%;
}

.cartValue{
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: flex-start;
    padding: 1%;
    width: 18%;
    height: 8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content > .list{
    flex: 1;
}